/*-- CSS reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Main Styling--*/

/*--Main Structure--*/

body{
    background: #D6D0B1;
    color: #435334;
    font-family: ibm-plex-serif;
}

section, header, footer{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 5rem;
}

header{
    padding-top: 6rem;
}

footer{
    padding-top: 5rem;
}

P{
    font-size: 1.25rem;
    line-height: 1.8rem;
    letter-spacing: 0.015rem;
    padding-top: 3rem;
}

.r{
    display: grid;
    grid-template-columns: 40%;
    padding-top: 2rem;
}

.c{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.r2{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}

.c2{
    width: 450px;
}
.c3{
    display: flex;
    align-items: flex-start;
}

/*--Block Quote--*/

blockquote {
    hanging-punctuation: first;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
}

hr{
    width: 1000px;
    margin: auto;
    height: 2px;
    color:#435334;
    background-color: #435334;
    border: 0 none;
}

.back{
    background-color: #435334;
    margin: auto;
    color: #D6D0B1;
    padding-top: 4rem;
}

#Lancefield{
    font-style: italic;
    padding-top: 2rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    width: 80%;
}

.mark{
    display: flex;
    align-items: baseline;
    padding-top: 3rem;
}

/*--headers and footer--*/

h2{
    padding-top: 2rem;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
}

.foot{
    background-color: #435334;
    color: #D6D0B1;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 3rem;
}

/*--Links--*/

.contact{
    display: flex;
    justify-content: flex-end;
    padding-right: 13rem;
    padding-top: 5rem;
}

.l{
    padding-right: 0.5rem;
}

img{
    width: 300px;
}

svg{
    padding-right: 0.5rem;
}

a:hover path{
    fill: #3a4430;
}

.top{
    fill: #435334;
}

.mob{
 display: none;
}

@media (max-width: 420px) {
    
    section, header, footer{
        width: 80%;
        max-width: 400px;
        margin: 1005;
        padding-bottom: 4rem;
    }

    header{
        padding-top: 7rem;
    }
    
    .contact{
        display: flex;
        justify-content: flex-end;
        padding-right:2rem;
        padding-top:3rem;
    }
    
    .r{
        display: grid;
        grid-template-columns: 100%;
        padding-top: 2rem;
    }
    
    .c{
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }

    P{
        font-size: 1.1rem;
        line-height: 1.7rem;
        letter-spacing: 0.015rem;
        padding-top: 2rem;
    }
    
    .r2{
        display: grid;
        grid-template-columns: 1;
        gap: 10px;
    }

    img{
        display: none;
    }

    .c2{
        width: 300px;
    }
    
    blockquote br{
        display:none;
    }

    hr{
        margin: auto;
        width: 320px;
    }

    .back{
        background-color: #435334;
        margin: auto;
        color: #D6D0B1;
        padding-top: 4rem;
    }

    #Lancefield{
        font-style: italic;
        padding-top: 2rem;
        line-height: 2rem;
        letter-spacing: 0.04rem;
        width: auto;
    }

    blockquote{
        font-size: 1.4rem;
    }

    .mob{
        display:block;
        width: 150px;
        padding-top: 3rem;
       }
}